# Link github:

https://github.com/npqd/P4DS_FinalProject.git

---

# Import thư viện cần thiết

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

---

# Thu thập dữ liệu

### Mô tả cơ bản về dữ liệu

- Dữ liệu của hơn 40,000 trận đấu bóng đá quốc tế từ 1872-2019
- Tên các quốc gia theo lục địa
- Tên khác/ cũ của các quốc gia

### Mục đích chọn dữ liệu

- Bóng đá trước giờ vẫn luôn là môn thể thao vua và luôn được mọi người quan tâm nhiều nhất. Qua dữ liệu đã có, ta có thể biết được tình hình phát triển bóng đá của các quốc gia, sự thay đổi về vị thế bóng đá của các nước qua các năm. Ngoài ra thông qua lịch sử đối đầu, chúng ta có thể dự đoán được phần nào các kết quả trong tương lai
- Data tên quốc gia theo lục địa để so sánh các quốc gia trong cùng khu vực bóng đá
- Data các tên gọi của quốc gia để quy ước tên các quốc gia trong dữ liệu là tên hiện tại của quốc gia đó

### Mô tả chi tiết dữ liệu

- `result.csv` Dữ liệu chứa 42,899 kết quả của các trận đá bóng quốc tế từ năm 1872 đến 2019. Từ những giải đấu được tổ chức bởi FIFA World Cup đến những giải đấu châu lục cho đến cả những giải đấu giao hữu. Đây là dữ liệu của những trận bóng đá nam, không bao gồm những giải đấu như Olympic hoặc của những đội hình phụ hoặc U23... hoặc là các giải đấu trong nước.
- `country_continent` Phân nhóm các quốc gia theo tên các châu lục, các vùng của một châu lục
- `country_allname` [wiki_name](https://en.wikipedia.org/wiki/List_of_alternative_country_names) các tên gọi thay thế, hoặc tên gọi trong quá khứ của từng quốc gia

#### `result.csv`

- `date` - ngày diễn ra trận đấu
- `home_team` - tên của đội chủ nhà
- `away_team` - tên của đội khách
- `home_score` - số bàn thắng đội chủ nhà ghi được bao gồm thời gian thi đấu chính thức và hiệp phụ, không tính loạt luân lưu
- `away_score` - số bàn thắng đội khách ghi được bao gồm thời gian thi đấu chính thức và hiệp phụ, không tính loạt luân lưu
- `tournament` - tên của giải đấu
- `city` - tên của thành phố trận đấu diễn ra
- `country` - tên của quốc gia mà trận đấu diễn ra
- `neutral` - cột TRUE/FALSE , nếu được tỏ trức ở một sân trung lập thì trả về giá trị TRUE

* **Lưu ý:**
    - `home_team` và `away_team` là tên hiện tại của đội. Ví dụ năm 1882, tên đội `Ireland` đá với `England` thì trong data này sẽ được gọi là `Northern Ireland` bởi vì đây là tên hiện tại của đội tuyển `Ireland` năm 1882. Việc quy ước này để có thể dễ dàng lấy thống kê
    - `country` sẽ là tên của quốc gia lúc diễn ra trận đấu. Vào những năm 1950, `Ghana` tuy đá ở `Gold Coast` nhưng vẫn là đội chủ nhà do cột `neutral` trả về giá trị FALSE

#### `country_continent.csv`

-   `Country` : Tên quốc gia, lãnh thổ theo FIFA
-   `Code`: Mã của quốc gia theo FIFA
-   `Continent`: Tên lục địa

### Nguồn thu thập dữ liệu

[result](https://www.kaggle.com/martj42/international-football-results-from-1872-to-2017)

[country_continent](https://en.wikipedia.org/wiki/Geography_of_association_football)

<!-- [country_allname](https://github.com/aaronschiff/country-names/blob/master/country-names-cross-ref.csv) -->

---

# Khám phá dữ liệu

### Đọc dữ liệu

Đọc dữ liệu các trận đấu vào `df_match`

In [17]:
df_match  = pd.read_csv('results.csv')
#TEST
df_match.sample(5)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
38991,2017-06-09,Solomon Islands,Papua New Guinea,3,2,FIFA World Cup qualification,Honiara,Solomon Islands,False
1509,1932-06-26,Yugoslavia,Greece,7,1,Balkan Cup,Belgrade,Yugoslavia,False
21135,1998-01-07,Trinidad and Tobago,Jamaica,0,0,Friendly,Port of Spain,Trinidad and Tobago,False
38816,2017-03-24,United States,Honduras,6,0,FIFA World Cup qualification,San Jose,United States,False
14079,1985-11-16,German DR,Bulgaria,2,1,FIFA World Cup qualification,Karl-Marx-Stadt,German DR,False

Đọc dữ liệu quốc gia theo lục địa vào `df_continent`

In [18]:
df_continent = pd.read_csv('country_continent.csv')
#TEST
df_continent.sample(5)

,Unnamed: 0,Code,Country,Continent
122,122,MEX,Mexico,"North America, Central America and the Caribbean"
127,127,MAR,Morocco,Africa
51,51,CYP,Cyprus,Europe
177,177,SSD,South Sudan,Africa
141,141,NOR,Norway,Europe

### Dữ liệu có bao nhiêu dòng và cột ?

Tiếp theo, ta tính số dòng và số cột của DataFrame `df_match` và `df_continent`, lưu vào biến `match_rows`,`match_cols` và `continent_rows`,`continent_cols`.

In [19]:
match_rows,match_cols = df_match.shape
print('number rows of match: ',match_rows)
print('number cols of match: ',match_cols)

number rows of match:  43085
number cols of match:  9

In [20]:
continent_rows,continent_cols = df_continent.shape
print('number rows of continent: ',continent_rows)
print('number cols of continent: ',continent_cols)

number rows of continent:  211
number cols of continent:  4

### Mỗi dòng có ý nghĩa gì? Có vấn đề gì các dòng có ý nghĩa khác nhau không ?

`df_match`

- Mỗi dòng cho biết thông tin về trận đấu bóng đá giữa 2 nước, thông qua quan sát sơ bộ thì có vẻ không có vấn đề gì, mỗi dòng khác nhau thể hiện thông tin khác nhau về mỗi trận đấu.

`df_continent`

Mỗi dòng cho biết thông tin về tên, mã code và khu vực của từng quốc gia theo FIFA, có vẻ như không có vấn đề gì

### Tiền xử lý

- Để chắc chắn rằng, những quốc gia chúng ta đang tìm hiểu là những quốc gia hiện tại được công nhận bởi FIFA, vì vậy ta sẽ chỉ giữ những dữ liệu của những trận đấu mà và `home_team` và `away_team` đều là đội bóng có tên trong danh sách FIFA bây giờ.
- Ta phải làm vậy vì giờ bóng đá quốc tế được sắp xếp theo bảng xếp hạng của FIFA, nên nếu không có tên trong FIFA thì các trận đấu gần như chẳng được tính điểm

In [30]:
df_match= df_match[df_match['home_team'].isin(df_continent['Country']) & \
     df_match['away_team'].isin(df_continent['Country'])]

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

### Dữ liệu có các dòng bị lặp không ?

In [67]:
np.all([df_match.duplicated(keep=False)])

False

- Có vẻ như không có dòng dữ liệu nào bị lặp lại thông tin cả.

### Mỗi cột có ý nghĩa gì?

- Như đã mô tả ở phần Mô tả chi tiết dữ liệu, ta đã hiểu rõ về ý nghĩa của các cột
- Để tránh trường hợp bạn quên thì ta sẽ đọc lại thông tin của các cột thông qua 2 file text, `mean_result.csv` và `mean_continent.csv`

Thông tin `df_match`

In [68]:
match_cols_meaning = pd.read_csv('mean_result.csv')
pd.set_option('display.max_colwidth',None)
match_cols_meaning

,column_name,mean
0,date,ngày diễn ra trận đấu
1,home_team,tên của đội chủ nhà
2,away_team,tên của đội khách
3,home_score,số bàn thắng đội chủ nhà ghi được bao gồm thời gian thi đấu chính thức và hiệp phụ - không tính loạt luân lưu
4,away_score,số bàn thắng đội khách ghi được bao gồm thời gian thi đấu chính thức và hiệp phụ - không tính loạt luân lưu
5,tournament,tên của giải đấu
6,city,tên của thành phố trận đấu diễn ra
7,country,tên của quốc gia mà trận đấu diễn ra
8,neutral,cột TRUE/FALSE nếu được tỏ trức ở một sân trung lập thì trả về giá trị TRUE

Thông tin `df_continent`

In [69]:
continent_cols_meaning = pd.read_csv('mean_country.csv')
pd.set_option('display.max_colwidth',None)
continent_cols_meaning

  column_name                                mean
0     Country   Tên quốc gia - lãnh thổ theo FIFA
1        Code           Mã của quốc gia theo FIFA
2   Continent                         Tên lục địa

### Mỗi cột hiện đang có kiểu dữ liệu gì? Có cần phải thay đổi hay không?

- Thông tin kiểu dữ liệu `df_match`

In [70]:
df_match.dtypes

date          object
home_team     object
away_team     object
home_score     int64
away_score     int64
tournament    object
city          object
country       object
neutral         bool
dtype: object

có 3 cột thể hiện dữ liệu numneric là `date` `home_score` và `away_score`. Nhưng ở đây `date` vẫn thể hiện kiểu dữ liệu là `object`, có vẻ như ta sẽ thay đổi kiểu dữ liệu cột `date` về dạng `datetime`

In [71]:
df_match['date'] = pd.to_datetime(df_match['date'], format="%Y-%m-%d")
df_match.dtypes

date          datetime64[ns]
home_team             object
away_team             object
home_score             int64
away_score             int64
tournament            object
city                  object
country               object
neutral                 bool
dtype: object

- Có vẻ dữ liệu cột `date` không có vấn đề gì cả, vì khi chuyển qua datetime chương trình không báo lỗi

- Thông tin kiểu dữ liệu `df_continent`

In [72]:
df_continent.dtypes

Country      object
Code         object
Continent    object
dtype: object

Vì dữ liệu của `df_continent` được biểu diễn hoàn toàn dưới dạng chuỗi nên có vẻ không có gì cần phải thay đổi

### Với mỗi cột có kiểu dữ liệu dạng số, các giá trị được phân bố như thế nào?

#### Trước khi tìm hiểu kĩ về các dữ liệu dạng số, có giá trị nào không hợp lệ trong mỗi cột không?

1. Trước tiên ta kiểm tra cột `date`. Trong đó ta phải chắc chắn rằng không có trận đấu nào chưa được đá mà đã có kết quả, tức là thời gian lớn hơn thời điểm hiện tai mà có kết quả

In [73]:
np.all(df_match['date'] > np.datetime64(dt.date.today()))

False

- Vậy là không có dữ liệu nào của cột `date` có dấu hiệu bất thường

2. Tiếp theo kiểm tra 2 cột `home_score` và `away_score` coi có giá trị nào bị âm không?

In [74]:
len(df_match[(df_match['home_score'] < 0) | (df_match['away_score'] < 0) ])

0

- Vậy là dữ liệu 2 cột `home_socre` và `away_score` không có giá trị nào bị âm

#### Quay lại bước khám phá dữ liệu

Ta sẽ tính một số thông tin sau của các cột dữ liệu dạng số:

- Số lượng các giá trị thiếu.
- Tỉ lệ % các giá trị thiếu (0->100).
- Giá trị min.
- Giá trị median.
- Giá trị max.

In [83]:

nume_col_info_df = pd.DataFrame()
for col in df_match.keys():
    if df_match[col].dtype in [np.int64, np.float64,'<M8[ns]'] :
        missing = df_match[col].isnull().sum()
        missing_percentage = round(df_match[col].isnull().sum() * 100 / len(df_match[col]),2)
        min_value = df_match[col].min()         
        median = df_match[col].median() 
        max_value = df_match[col].max()
        row_line = pd.Series([missing,missing_percentage, min_value,  median, max_value], 
                                index = ['num_missing','missing_percentage', 'min',  'median', 'max'])
        nume_col_info_df[col] = row_line
nume_col_info_df

                                   date  home_score  away_score
num_missing                           0         0.0         0.0
missing_percentage                  0.0         0.0         0.0
min                 1872-11-30 00:00:00         0.0         0.0
median              1998-08-01 00:00:00         1.0         1.0
max                 2021-12-18 00:00:00        31.0        21.0

- Từ bảng trên, ta có thể max của `home_score` và `away_score` là 31 và 21 , có lẽ đây là những trận đấu vô cùng cởi mở từ các đội hoặc là những trận đấu một chiều, trình độ chênh lệch giữ hai đội quá lớn. min là 0.
- Tương tự với `date` như đã tiền xử lý ở trên

     => Không có gì bất thường.

### Với các cột dữ liệu dạng phân loại (categorical), các giá trị được phân bố như thế nào?

Ta sẽ tính một số thông tin sau:

- Số lượng các giá trị thiếu.
- Tỉ lệ % các giá trị thiếu (0->100).
- Số lượng các giá trị các nhau (không xét giá trị thiếu).
- TỈ lệ % (0->100) của mỗi giá trị của cột được sắp xếp theo tỉ lệ % giảm dần (không xét giá trị thiếu).

In [ ]:
nume_col_info_df = pd.DataFrame()
for col in df_match.keys():
    if df_match[col].dtype == 'O' :
        missing = df_match[col].isnull().sum()
        missing_percentage = round(df_match[col].isnull().sum() * 100 / len(df_match[col]),2)
        
        row_line = pd.Series([missing,missing_percentage, min_value,  median, max_value], 
                                index = ['num_missing','missing_percentage', 'min',  'median', 'max'])
        nume_col_info_df[col] = row_line
nume_col_info_df

---

# Đưa ra các câu hỏi cần trả lời

---

# Tiền xử lí + phân tích dữ liệu để trả lời câu hỏi

---

# Nhìn lại quá trình làm đồ án

### Học được những gì từ đồ án

### Những khó khăn khi thực hiện đồ án

---

# Tài liệu tham khảo

---

### Tiền xử lý dữ liệu

1. Để có thể so sánh trực quan các nước qua từng khu vực của nó thì ta sẽ thêm cột continent từ `df_continent` vào `df_result`

Bước 1: Kiểm tra coi `df_match` và `df_continent` có bị thiếu dữ liệu ở cột nào không? có dòng nào bị lặp không?
Bước 2:

Bước 1:

`df_match` có bị thiếu dữ liệu ở cột nào không?

In [ ]:
(df_match.isna().sum() /len(df_match)*100).round(1)

date          0.0
home_team     0.0
away_team     0.0
home_score    0.0
away_score    0.0
tournament    0.0
city          0.0
country       0.0
neutral       0.0
dtype: float64

Như vậy không có cột nào bị thiếu dữ liệu cả

Tương tự kiểm tra với `df_continent`

In [ ]:
(df_continent.isna().sum() /len(df_continent)*100).round(1)

Country      0.0
Code         0.0
Continent    0.0
dtype: float64

Bước 2:

In [ ]:
pd.merge(df_match,df_continent,left_on=)

Tương tự, dữ liệu về khu vực các nước cũng không bị thiếu