# Link github:

https://github.com/npqd/P4DS_FinalProject.git

---

# Import thư viện cần thiết

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

---

# Thu thập dữ liệu

### Mô tả cơ bản về dữ liệu

- Dữ liệu của hơn 40,000 trận đấu bóng đá quốc tế từ 1872-2019
- Tên các quốc gia theo lục địa
- Tên khác/ cũ của các quốc gia

### Mục đích chọn dữ liệu

- Bóng đá trước giờ vẫn luôn là môn thể thao vua và luôn được mọi người quan tâm nhiều nhất. Qua dữ liệu đã có, ta có thể biết được tình hình phát triển bóng đá của các quốc gia, sự thay đổi về vị thế bóng đá của các nước qua các năm. Ngoài ra thông qua lịch sử đối đầu, chúng ta có thể dự đoán được phần nào các kết quả trong tương lai
- Data tên quốc gia theo lục địa để so sánh các quốc gia trong cùng khu vực bóng đá
- Data các tên gọi của quốc gia để quy ước tên các quốc gia trong dữ liệu là tên hiện tại của quốc gia đó

### Mô tả chi tiết dữ liệu

- `result.csv` Dữ liệu chứa 42,899 kết quả của các trận đá bóng quốc tế từ năm 1872 đến 2019. Từ những giải đấu được tổ chức bởi FIFA World Cup đến những giải đấu châu lục cho đến cả những giải đấu giao hữu. Đây là dữ liệu của những trận bóng đá nam, không bao gồm những giải đấu như Olympic hoặc của những đội hình phụ hoặc U23... hoặc là các giải đấu trong nước.
- `country_continent` Phân nhóm các quốc gia theo tên các châu lục, các vùng của một châu lục
- `country_allname` [wiki_name](https://en.wikipedia.org/wiki/List_of_alternative_country_names) các tên gọi thay thế, hoặc tên gọi trong quá khứ của từng quốc gia

#### `result.csv`

- `date` - ngày diễn ra trận đấu
- `home_team` - tên của đội chủ nhà
- `away_team` - tên của đội khách
- `home_score` - số bàn thắng đội chủ nhà ghi được bao gồm thời gian thi đấu chính thức và hiệp phụ, không tính loạt luân lưu
- `away_score` - số bàn thắng đội khách ghi được bao gồm thời gian thi đấu chính thức và hiệp phụ, không tính loạt luân lưu
- `tournament` - tên của giải đấu
- `city` - tên của thành phố trận đấu diễn ra
- `country` - tên của quốc gia mà trận đấu diễn ra
- `neutral` - cột TRUE/FALSE , nếu được tỏ trức ở một sân trung lập thì trả về giá trị TRUE

* **Lưu ý:**
    - `home_team` và `away_team` là tên hiện tại của đội. Ví dụ năm 1882, tên đội `Ireland` đá với `England` thì trong data này sẽ được gọi là `Northern Ireland` bởi vì đây là tên hiện tại của đội tuyển `Ireland` năm 1882. Việc quy ước này để có thể dễ dàng lấy thống kê
    - `country` sẽ là tên của quốc gia lúc diễn ra trận đấu. Vào những năm 1950, `Ghana` tuy đá ở `Gold Coast` nhưng vẫn là đội chủ nhà do cột `neutral` trả về giá trị FALSE

#### `country_continent.csv`

-   `Country or Area` : Tên quốc gia, lãnh thổ
-   `ISO-alpha3 Code`: Mã ISO-alpha3 của quốc gia
-   `M49 Code`: Mã M49 của quốc gia
-   `Region 1`: Tên khu vực 1
-   `Region 2`: Tên khu vực 2
-   `Continent`: Tên lục địa

- Lưu ý:  Độ rộng `Continent` > `Region 2` > `Region 1`

#### `country_allname.csv`

### Nguồn thu thập dữ liệu

[result](https://www.kaggle.com/martj42/international-football-results-from-1872-to-2017)

[country_continent](https://statisticstimes.com/geography/countries-by-continents.php)

[country_allname](https://github.com/aaronschiff/country-names/blob/master/country-names-cross-ref.csv)

---

# Khám phá dữ liệu

### Đọc dữ liệu

Đọc dữ liệu các trận đấu vào `df_match`

In [2]:
df_match  = pd.read_csv('results.csv')

In [3]:
#TEST
df_match.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False

### Dữ liệu có bao nhiêu dòng và cột ?

### Mỗi dòng có ý nghĩa gì? Có vấn đề gì các dòng có ý nghĩa khác nhau không ?

### Dữ liệu có các dòng bị lặp không ?

### Mỗi cột có ý nghĩa gì?

### Mỗi cột hiện đang có kiểu dữ liệu gì? Có cần phải thay đổi hay không?

---

# Đưa ra các câu hỏi cần trả lời

---

# Tiền xử lí + phân tích dữ liệu để trả lời câu hỏi

---

# Nhìn lại quá trình làm đồ án

### Học được những gì từ đồ án

### Những khó khăn khi thực hiện đồ án

---

# Tài liệu tham khảo

---