# Link github:

https://github.com/npqd/P4DS_FinalProject.git

---

# Import thư viện cần thiết

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
print("hell")

---

# Thu thập dữ liệu

### Mô tả cơ bản về dữ liệu

- Dữ liệu của hơn 40,000 trận đấu bóng đá quốc tế từ 1872-2019
- Tên các quốc gia theo lục địa
- Tên khác/ cũ của các quốc gia

### Mục đích chọn dữ liệu

- Bóng đá trước giờ vẫn luôn là môn thể thao vua và luôn được mọi người quan tâm nhiều nhất. Qua dữ liệu đã có, ta có thể biết được tình hình phát triển bóng đá của các quốc gia, sự thay đổi về vị thế bóng đá của các nước qua các năm. Ngoài ra thông qua lịch sử đối đầu, chúng ta có thể dự đoán được phần nào các kết quả trong tương lai
- Data tên quốc gia theo lục địa để so sánh các quốc gia trong cùng khu vực bóng đá
- Data các tên gọi của quốc gia để quy ước tên các quốc gia trong dữ liệu là tên hiện tại của quốc gia đó

### Mô tả chi tiết dữ liệu

- `result.csv` Dữ liệu chứa 42,899 kết quả của các trận đá bóng quốc tế từ năm 1872 đến 2021. Từ những giải đấu được tổ chức bởi FIFA World Cup đến những giải đấu châu lục cho đến cả những giải đấu giao hữu. Đây là dữ liệu của những trận bóng đá nam, không bao gồm những giải đấu như Olympic hoặc của những đội hình phụ hoặc U23... hoặc là các giải đấu trong nước (chỉ tính ở cấp đội tuyển quốc gia)
- `country_continent` Phân nhóm các quốc gia theo tên các châu lục, các vùng của một châu lục
- `country_allname` [wiki_name](https://en.wikipedia.org/wiki/List_of_alternative_country_names) các tên gọi thay thế, hoặc tên gọi trong quá khứ của từng quốc gia

#### `result.csv`

- `date` - ngày diễn ra trận đấu
- `home_team` - tên của đội chủ nhà
- `away_team` - tên của đội khách
- `home_score` - số bàn thắng đội chủ nhà ghi được bao gồm thời gian thi đấu chính thức và hiệp phụ, không tính loạt luân lưu
- `away_score` - số bàn thắng đội khách ghi được bao gồm thời gian thi đấu chính thức và hiệp phụ, không tính loạt luân lưu
- `tournament` - tên của giải đấu
- `city` - tên của thành phố trận đấu diễn ra
- `country` - tên của quốc gia mà trận đấu diễn ra
- `neutral` - cột TRUE/FALSE , nếu được tỏ trức ở một sân trung lập thì trả về giá trị TRUE

* **Lưu ý:**
    - `home_team` và `away_team` là tên của đội và lúc diễn ra trận bóng. Ví dụ năm 1882, tên đội `Ireland` đá với `England` thì trong data này sẽ được gọi là `Northern Ireland` bởi vì đây là tên hiện tại của đội tuyển `Ireland` năm 1882. Việc quy ước này để có thể dễ dàng lấy thống kê
    - `country` sẽ là tên của quốc gia lúc diễn ra trận đấu. Vào những năm 1950, `Ghana` tuy đá ở `Gold Coast` nhưng vẫn là đội chủ nhà do cột `neutral` trả về giá trị FALSE

#### `country_continent.csv`

-   `Country or Area` : Tên quốc gia, lãnh thổ
-   `ISO-alpha3 Code`: Mã ISO-alpha3 của quốc gia
-   `M49 Code`: Mã M49 của quốc gia
-   `Region 1`: Tên khu vực 1
-   `Region 2`: Tên khu vực 2
-   `Continent`: Tên lục địa

- Lưu ý:  Độ rộng `Continent` > `Region 2` > `Region 1`

#### `country_allname.csv`

### Nguồn thu thập dữ liệu

[result](https://www.kaggle.com/martj42/international-football-results-from-1872-to-2017)

[country_continent](https://statisticstimes.com/geography/countries-by-continents.php)

[country_allname](https://github.com/aaronschiff/country-names/blob/master/country-names-cross-ref.csv)

---

# Khám phá dữ liệu

### Đọc dữ liệu

Đọc dữ liệu các trận đấu vào `df_match`

In [2]:
df_match  = pd.read_csv('results.csv')
df_match.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False

### Dữ liệu có bao nhiêu dòng và cột ?

In [3]:
num_rows = df_match.shape[0]
num_cols = df_match.shape[1]
print(f'Dữ liệu này có {num_rows} dòng và {num_cols} cột.')

Dữ liệu này có 43086 dòng và 9 cột.

### Mỗi dòng có ý nghĩa gì? Có vấn đề gì các dòng có ý nghĩa khác nhau không ?

In [4]:
df_match

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
43081,2021-12-15,Tunisia,Egypt,NaN,NaN,Arab Cup,Doha,Qatar,True
43082,2021-12-15,Qatar,Algeria,NaN,NaN,Arab Cup,Doha,Qatar,False
43083,2021-12-18,NaN,NaN,NaN,NaN,Arab Cup,Doha,Qatar,NaN
43084,2021-12-18,NaN,NaN,NaN,NaN,Arab Cup,Al Khor,Qatar,NaN
43085,2021-12-18,United States,Bosnia and Herzegovina,NaN,NaN,Friendly,Los Angeles,United States,False

- Theo như mô tả về dữ liệu ở trên và quan sát thì một dòng cho biết thông tin về một trận đấu ở cấp đội tuyển quốc gia giữa hai nước. Có vẻ không có dòng nào bị "lạc loài"

### Dữ liệu có các dòng bị lặp không ?

In [5]:
df_match[df_match.duplicated(keep=False)]

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score, tournament, city, country, neutral]
Index: []

- Không có dòng nào bị lặp trong dataframe

### Mỗi cột hiện đang có kiểu dữ liệu gì? Có cần phải thay đổi hay không?

In [6]:
df_match.dtypes

date           object
home_team      object
away_team      object
home_score    float64
away_score    float64
tournament     object
city           object
country        object
neutral        object
dtype: object

- Các cột `"date, home_team, away_team, tournament, city, country, neutral"` đang có kiểu dữ liệu là `object`.
- Thường thì kiểu `object` thường ám chỉ kiểu dữ liệu `chuỗi`.
- Tuy nhiên ta sẽ đưa cột `date` về kiểu dữ liệu `date_time`.

In [7]:
df_match['date'] = pd.to_datetime(df_match['date'], format="%Y-%m-%d")

### Với mỗi cột dữ liệu dạng số (numerical), các giá trị được phân bố như thế nào?

Ta sẽ tính một số thông tin sau:

- Số lượng các giá trị thiếu.
- Tỉ lệ % các giá trị thiếu (0->100).
- Giá trị min.
- Giá trị median.
- Giá trị max.

In [9]:
def calculate_quartile(data):
    nume_col_info_df = pd.DataFrame()
    for col in data.keys():
        if data[col].dtype in [np.int64, np.float64] :
            missing = data[col].isnull().sum()
            missing_percentage = round(data[col].isnull().sum() * 100 / len(data[col]),2)
            min_value = data[col].min()         
            median = data[col].median() 
            max_value = data[col].max()
            row_line = pd.Series([missing,missing_percentage, min_value,  median, max_value], 
                                 index = ['num_missing','missing_percentage', 'min',  'median', 'max'])
            nume_col_info_df[col] = row_line
    return nume_col_info_df

In [10]:
info_df = calculate_quartile(df_match)
info_df

                    home_score  away_score
num_missing               5.00        5.00
missing_percentage        0.01        0.01
min                       0.00        0.00
median                    1.00        1.00
max                      31.00       21.00

- Từ bảng trên, ta có thể `max` của `home_score` và `away_score` là **31** và **21** , có lẽ đây là những trận đấu vô cùng cởi mở từ các đội hoặc là những trận đấu một chiều, trình độ chênh lệch giữ hai đội quá lớn.
- Không có gì bất thường.

### Với các cột dữ liệu dạng phân loại (categorical), các giá trị được phân bố như thế nào?

Ta sẽ tính một số thông tin sau:

- Số lượng các giá trị thiếu.
- Tỉ lệ % các giá trị thiếu (0->100).
- Số lượng các giá trị các nhau (không xét giá trị thiếu).
- TỈ lệ % (0->100) của mỗi giá trị của cột được sắp xếp theo tỉ lệ % giảm dần (không xét giá trị thiếu).

In [15]:
cate_col = ['home_team','away_team','tournament','city','country','neutral']

missing = []
missing_percentage=[]
num_values=[]
value_percentages=[]

for column in cate_col:
    missing.append(df_match[column].isnull().sum())
    missing_percentage.append((df_match[column].isnull().sum() * 100 / len(df_match)).round(3))
    temp = df_match[column].dropna()
    num_values.append(len(temp.unique()))
    value_percentages.append(((temp.value_counts(normalize=True)*100).round(1)).to_dict())
cate_col_info_df = pd.DataFrame([missing,missing_percentage,num_values,value_percentages],
                            index=['num_missing','missing_percentage','num_values','value_percentages'],
                            columns=cate_col)
cate_col_info_df

,home_team,away_team,tournament,city,country,neutral
num_missing,2,2,0,0,0,2
missing_percentage,0.005,0.005,0.0,0.0,0.0,0.005
num_values,307,304,126,2058,266,2
value_percentages,"{'Brazil': 1.4, 'Argentina': 1.3, 'Mexico': 1....","{'Uruguay': 1.3, 'Sweden': 1.3, 'England': 1.2...","{'Friendly': 40.0, 'FIFA World Cup qualificati...","{'Kuala Lumpur': 1.5, 'Doha': 1.1, 'Bangkok': ...","{'United States': 2.9, 'France': 1.9, 'Malaysi...","{False: 75.3, True: 24.7}"

### **2 file country_continent.csv và country-names-cross-ref đã được mô tả ở trên và chỉ là file hỗ trợ việc tra cứu tên các nước (ở trong quá khứ và hiện tại) trong file result nên ta chỉ đọc hai file này lên để xem**

In [17]:
country_continent_df = pd.read_csv('country_continent.csv')
country_continent_df.head()

,No,Country or Area,ISO-alpha3 Code,M49 Code,Region 1,Region 2,Continent
0,1,Afghanistan,AFG,4,Southern Asia,NaN,Asia
1,2,Åland Islands,ALA,248,Northern Europe,NaN,Europe
2,3,Albania,ALB,8,Southern Europe,NaN,Europe
3,4,Algeria,DZA,12,Northern Africa,NaN,Africa
4,5,American Samoa,ASM,16,Polynesia,NaN,Oceania

In [18]:
country_name_cross_ref_df = pd.read_csv('country-names-cross-ref.csv')
country_name_cross_ref_df.head()

                  Afghanistan (1911 Encyclopedia)  Afghanistan
0             The Islamic Republic of Afghanistan  Afghanistan
1                 Islamic Republic of Afghanistan  Afghanistan
2                                      Afganistan  Afghanistan
3                                   ISO 3166-1:AF  Afghanistan
4  Afghanistan/Article from the 1911 Encyclopedia  Afghanistan

---

# Đưa ra các câu hỏi cần trả lời

---

# Tiền xử lí + phân tích dữ liệu để trả lời câu hỏi

---

# Nhìn lại quá trình làm đồ án

### Học được những gì từ đồ án

### Những khó khăn khi thực hiện đồ án

---

# Tài liệu tham khảo

---